<footer class="footer">
  <small>
    <a href="http://www.stjudesgaa.ie">The St Judes Camogie Application</a>
    by <a href="http://www.stjudesgaa.ie/">Oisin O'Donnell C10345787</a>
  </small>
</footer>